﻿@model eProducts.Models.ProductViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm("Index", "Products"))
{
    @Html.DropDownListFor(productViewModel => productViewModel.DataStorageType, new List<SelectListItem>
    {
        new SelectListItem() { Text = "Db", Value = "Db"},
        new SelectListItem() { Text = "Csv", Value = "Csv" },
        new SelectListItem() { Text = "InMemory", Value = "InMemory" }
    }, new { onchange = "this.form.submit();" })
}
<p>
    @Html.ActionLink("Create New", "Create", new { Model.DataStorageType })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Products.FirstOrDefault().Number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Products.FirstOrDefault().Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Products.FirstOrDefault().Price)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Products)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
        </tr>
    }
</table>
